<div *ngIf="data" class="detail">
    <p class="degrees">
      {{data.main.temp}} <i class="wi wi-fahrenheit degree"></i>
    </p>
    <div class="weather">
      <i *ngIf="weatherStatus=='Cloudy' || weatherStatus=='Partly Cloudy'" class="wi wi-cloudy weatherIcon"></i>
      <i *ngIf="weatherStatus=='Clear'" class="wi wi-day-sunny weatherIcon"></i>
      <i *ngIf="weatherStatus=='Rain'" class="wi wi-rain-mix weatherIcon"></i>
      <i *ngIf="weatherStatus=='Heavy Rain'" class="wi wi-thunderstorm weatherIcon"></i>
      <i *ngIf="weatherStatus=='Thunderstorm'" class="wi wi-lightning weatherIcon"></i>

      <p class="status">
        {{weatherStatus}}
      </p>
    </div>
    <p class="city">
      {{data.name}}
    </p>
   
</div>

